<style>
	.el-checkbox{
		display: flex;
	}
	.el-checkbox .el-checkbox__label{
		white-space: normal;
		word-break: break-word;
	}
</style>
<div class="padding-md" id="GROUPMANAGE">
	<div class="smart-widget" style="margin-bottom: 1px;">
		<div class="smart-widget-inner">
			<div class="smart-widget-body" v-show="rendered">
				<el-breadcrumb separator="/">
					<el-breadcrumb-item>
						<a href="">首页</a>
					</el-breadcrumb-item>
					<el-breadcrumb-item>
						班组管理
					</el-breadcrumb-item>
					<el-breadcrumb-item>
						班组设置
					</el-breadcrumb-item>
				</el-breadcrumb>
				<el-divider></el-divider>
				<div class="flex justify-between items-center px2 mb2">
					<el-button icon="el-icon-plus" type="primary" @click="showCreateDialog()">
						增加班组
					</el-button>
					<div class="row items-center">
						<el-input v-model="queryCondition.keyword"  placeholder="请输入区域名称" class="mr2" ></el-input>
						<el-button type="primary" @click="keywordChange()">
							查询
						</el-button>
					</div>
				</div>
				<el-table :data="tableData">
					<el-table-column prop="schedules_name" label="区域名称"></el-table-column>
					<el-table-column prop="work_name" label="添加时间">

					</el-table-column>
					<el-table-column prop="is_show" label="状态">
						<template #default="{ row }">
							<el-tag :type="row.is_show === '1' ? 'primary' : 'danger'">
								{{ row.is_show === "1" ? '显示' : '隐藏' }}
							</el-tag>
						</template>
					</el-table-column>
					<el-table-column prop="rowOperations" label="操作">
						<template #default="{ row }">
							<el-button type="primary" plain size="mini" @click="showEditDialog(row) ">
								编辑
							</el-button>
							<el-button type="danger" plain size="mini" @click="showDelDialog(row)">
								删除
							</el-button>
						</template>
					</el-table-column>
				</el-table>
				<div class="flex justify-end mt4">
					<el-pagination background layout="prev, pager, next"
								   :total="totalNumber"
								   :page-size="10"
								   :current-page="queryCondition.page"
								   @current-change="pageChange">
					</el-pagination>
				</div>
			</div>
		</div>
	</div>
	<el-dialog :visible.sync="create.dialog" title="添加班组" width="660px">
		<el-form label-width="120px" :model="create.formData" :rules="create.formDataRules" ref="createForm">
			<el-form-item label="班组名称" prop="schedules_name">
				<el-input v-model="create.formData.schedules_name"></el-input>
			</el-form-item>
			<el-form-item prop="work_day" label="工作日设置">
				<el-checkbox-group v-model="create.formData.work_day" size="small">
					<el-checkbox-button v-for="w in create.work_day" :label="w.id" :key="">
						{{ w.name }}
					</el-checkbox-button>
				</el-checkbox-group>
			</el-form-item>
			<el-form-item label="时间段设置" prop="time_id">
				<el-checkbox-group v-model="create.formData.time_id">
					<div class="flex flex-wrap">
						<div style="width:50%;" v-for="(t, i) in create.times" :key="i" class="mb2">
							<el-checkbox :label="t.id" >
								{{ t.work_name }}
							</el-checkbox>
						</div>
					</div>
				</el-checkbox-group>
			</el-form-item>
			<el-form-item label="状态" prop="is_show">
				<el-radio v-model="create.formData.is_show" :label="1">显示</el-radio>
				<el-radio v-model="create.formData.is_show" :label="0">隐藏</el-radio>
			</el-form-item>
		</el-form>
		<div slot="footer" class=" flex justify-center">
			<el-button @click="() => {
				let f = $refs.createForm
				if(f){
					f.resetFields()
				}
			}">
				重置
			</el-button>
			<el-button type="primary" class="ml2" @click="submitCreate">
				提交
			</el-button>
		</div>
	</el-dialog>
	<el-dialog :visible.sync="edit.dialog" title="编辑班组信息" width="660px">
		<el-form label-width="120px" :model="edit.formData" :rules="edit.formDataRules" ref="editForm">
			<el-form-item label="班组名称" prop="schedules_name">
				<el-input v-model="edit.formData.schedules_name"></el-input>
			</el-form-item>
			<el-form-item prop="work_day" label="工作日设置">
				<el-checkbox-group v-model="edit.formData.work_day" size="small">
					<el-checkbox-button v-for="w in edit.work_day" :label="w.id" :key="">
							{{ w.name }}
					</el-checkbox-button>
				</el-checkbox-group>
			</el-form-item>

			<el-form-item  prop="time_id" label="时间段设置">
				<el-checkbox-group v-model="edit.formData.time_id">
					<div class="flex flex-wrap">
						<div style="width:50%;" v-for="(t, i) in edit.times" :key="i" class="mb2">
							<el-checkbox :label="t.id" >
								{{ t.work_name }}
							</el-checkbox>
						</div>
					</div>
				</el-checkbox-group>
			</el-form-item>


			<el-form-item label="状态" prop="is_show" >
				<el-radio v-model="edit.formData.is_show" :label="1">显示</el-radio>
				<el-radio v-model="edit.formData.is_show" :label="0">隐藏</el-radio>
			</el-form-item>
		</el-form>
		<div slot="footer" class=" flex justify-center">
			<el-button @click="() => {
				let f = $refs.editForm
				if(f){
					f.resetFields()
				}
			}">
				重置
			</el-button>
			<el-button type="primary" class="ml2" @click="submitEdit">
				提交
			</el-button>
		</div>
	</el-dialog>
</div>
<script>
	const GROUPMANAGE = new Vue({
		el: '#GROUPMANAGE',
		data() {
			return {
				rendered: false,
				edit: {
					dialog: false,
					formData: {
						schedules_name: '',
						work_day: [],
						time_id: [],
						is_show: 1
					},
					times: [
					],
					work_day: [
						{id:"1",name:'周一'},
						{id:"2",name:'周二'},
						{id:"3",name:'周三'},
						{id:"4",name:'周四'},
						{id:"5",name:'周五'},
						{id:"6",name:'周六'},
						{id:"0",name:'周日'}],
				},
				create: {
					work_day: [
						{id:"1",name:'周一'},
						{id:"2",name:'周二'},
						{id:"3",name:'周三'},
						{id:"4",name:'周四'},
						{id:"5",name:'周五'},
						{id:"6",name:'周六'},
						{id:"0",name:'周日'}],
					times: [
					],
					dialog: false,
					formDataRules: {

					},
					formData: {
						schedules_name: '',
						work_day: [],
						time_id: [],
						is_show: 1
					}
				},
				totalNumber: 0,
				queryCondition: {
					keyword: '',
					page: 1
				},
				tableData: []
			}
		},
		created(){
		    this.doQuery()
		},
		methods: {
			doQuery(){
				DMS.ajaxPost('__CONTROLLER__/getSchedulesList',
						{
							keywords :this.queryCondition.keyword,
							page:this.queryCondition.page
						},res=>{
				this.tableData = res.list,
				this.totalNumber= res.totalNumber
			})
			},
			keywordChange(){
				this.queryCondition.page = 1
			    this.doQuery()
			},
			showCreateDialog(){

				DMS.ajaxPost('__CONTROLLER__/getAllTimeList', {}, res=>{
					this.create.times = res.timeList
					this.create.dialog = true;
				})
			},
			showEditDialog(row){

				DMS.ajaxPost('__CONTROLLER__/getEditSchedules', {schedules_id:row.schedules_id}, res=>{
					this.edit.times = res.list

					this.edit.formData = {
						schedules_name: row.schedules_name,
						work_day: res.schedulesInfo.work_day,//.map(v => v * 1)
						time_id: res.schedulesInfo.time_id,
						is_show: row.is_show*1
					}
					this.edit.dialog = true;
				})


			},
			submitEdit(){
				DMS.ajaxPost("__CONTROLLER__/schedulesEdit",{
					info: this.edit.formData
				}, res => {
					if(res.status === 1){
						this.$alert('修改成功！', '通知', {
							confirmButtonText: '确定',
							callback: action => {
								this.create.dialog = false
								window.location.reload()
							}
						})
					}else{
						this.$alert('修改失败！失败原因：'+res.info, '通知', {
							confirmButtonText: '确定',
							callback: action => {
								this.create.dialog = false
							}
						})
					}
				})
			},
			// 展示删除弹窗
			showDelDialog(row) {
				this.$confirm(`确认删除${ row.schedules_name }吗?`, '提示', {
					confirmButtonText: '确定',
					cancelButtonText: '取消',
					type: 'warning'
				}).then(() => {
					// 执行删除逻辑
					DMS.ajaxPost("__CONTROLLER__/schedulesDelete",{
						schedules_id: row.schedules_id
					}, res => {
						if(res.status === 1){
							this.$message({
								type: 'success',
								message: '删除成功!',
								showClose: true

							})
							window.location.reload()
						}else{
							this.$message.error('删除失败！失败原因：'+res.info);

						}
					})

				}).catch(() => {})
			},
			// 提交创建弹窗的数据
			submitCreate() {
				this.$refs.createForm.validate(r => {
					if(r){
						DMS.ajaxPost("__CONTROLLER__/schedulesAdd",{
							info: this.create.formData
						}, res => {
							if(res.status === 1){
								this.$alert('添加成功！', '通知', {
									confirmButtonText: '确定',
									callback: action => {
										this.create.dialog = false
										window.location.reload()
									}
								})
							}else{
								this.$alert('添加失败！失败原因：'+res.info, '通知', {
									confirmButtonText: '确定',
									callback: action => {
										this.create.dialog = false
										window.location.reload()
									}
								})
							}
						})
					}
				})
			},
			pageChange(p) {
				this.queryCondition.page = p
				this.doQuery()
				// 这里进行分页查询
			}
		},
		mounted(){
			this.rendered = true
		}
	})
</script>
