<style>
	input[type=file]{
		display: none;
	}
	.avatar-previewer{
		width: 32px;
		height: 32px;
		display: block;
	}
</style>
<div class="padding-md" id="ADMINLIST">
	<div class="smart-widget widget-dark-blue">
		<div class="smart-widget-inner">
			<div class="smart-widget-body">
				<el-breadcrumb separator="/">
          <el-breadcrumb-item>
            <a href="">首页</a>
          </el-breadcrumb-item>
          <el-breadcrumb-item>
            管理员管理
          </el-breadcrumb-item>
          <el-breadcrumb-item>
            管理组列表
          </el-breadcrumb-item>
        </el-breadcrumb>
				<el-divider></el-divider>
				<div class="">
					<el-button icon="el-icon-plus" type="primary" @click="add.dialog = true">
						添加管理组
					</el-button>
				</div>
				<el-table :data="tableData">
					<el-table-column prop="id" label="ID"></el-table-column>
					<el-table-column prop="title" label="名称"></el-table-column>
					<el-table-column prop="description" label="描述"></el-table-column>
					<el-table-column prop="status" label="状态">
						<template #default="{ row }">
							<el-tag type="primary" v-if="row.status === '1'">
								正常
							</el-tag>
							<el-tag type="danger" v-else>
								禁止
							</el-tag>
						</template>
					</el-table-column>
					<el-table-column label="操作" width="260">
						<template #default="{ row, column }">
							<el-button size="mini" type="primary" @click="showEditDialog(row)">
								编辑
							</el-button>
							<el-button size="mini" type="primary" @click="showMenuChangeDialog(row)">
								菜单设置
							</el-button>
							<el-button size="mini" type="danger" @click="askDel(row)">
								删除
							</el-button>
						</template>
					</el-table-column>
				</el-table>
				<div class="flex justify-end mt3">
					<el-pagination
						background
						layout="prev, pager, next"
						:total="totalNumber"
						:page-size="10"
						:current-page="page"
						@current-change="pageChange"
					>
					</el-pagination>
				</div>
			</div>
		</div>
	</div>
	<el-dialog title="添加管理组" :visible.sync="add.dialog" width="480px">
		<el-form :model="add.formData" label-width="100px" :rules="adminFormRules">
			<el-form-item label="名称" prop="title">
				<el-input v-model="add.formData.title"></el-input>
			</el-form-item>
			<el-form-item label="描述" prop="description">
				<el-input v-model="add.formData.description"></el-input>
			</el-form-item>
			<el-form-item label="状态" prop="status">
				<el-radio v-model="add.formData.status" :label="1">正常</el-radio>
				<el-radio v-model="add.formData.status" :label="0">禁止</el-radio>
			</el-form-item>
		</el-form>
		<div class="flex justify-center" slot="footer">
			<el-button type="primary" @click="groupAdd">
				提交
			</el-button>
		</div>
	</el-dialog>

	<el-dialog title="编辑管理员信息" :visible.sync="edit.dialog" width="480px">
		<el-form :model="edit.formData" label-width="100px" :rules="adminFormRules">
			<el-form-item label="名称" prop="title">
				<el-input v-model="edit.formData.title"></el-input>
			</el-form-item>
			<el-form-item label="登录密码" prop="description">
				<el-input v-model="edit.formData.description"></el-input>
			</el-form-item>
			<el-form-item label="状态" prop="status">
				<el-radio v-model="edit.formData.status" :label="'1'">正常</el-radio>
				<el-radio v-model="edit.formData.status" :label="'0'">禁止</el-radio>
			</el-form-item>
		</el-form>
		<div class="flex justify-center" slot="footer">
			<el-button type="primary" @click="groupEdit">
				提交
			</el-button>
		</div>
	</el-dialog>

	<el-dialog :visible.sync="menuSetting.dialog" title="菜单设置" width="720px">
		<el-tree
				:check-strictly="false"
		  :data="treeMenuData"
		  show-checkbox
		  node-key="id"
		  :default-checked-keys="menuSetting.targetMenuData"
		 	:default-expanded-keys="menuSetting.targetMenuData"
		  :props="{
				children: 'children',
				label: 'name'
			}"
			ref="treeSelector">
		</el-tree>
		<div class="flex justify-center" slot="footer">
			<el-button type="primary" @click="groupSettingMenu">
				提交
			</el-button>
		</div>
	</el-dialog>
</div>
<script type="text/javascript">
	const ADMINLIST = new Vue({
		el: '#ADMINLIST',
		data(){
			const requiredRule = (n, prefix = '请输入', trigger = 'blur') => ({
				required: true,
				message: `${prefix}${n}！`,
				trigger,
			})
			const commonForm = () => JSON.parse(JSON.stringify({
				title: '',
                description: '',
				status: 1,
				id:''
			}))
			return {
				treeMenuData: Array(3).fill(1).map((_, i) => ({
					id: i + 1,
					label: `一级菜单${i + 1}`,
					children: Array(3).fill(1).map((_, j) => ({
						id: (i + 1) * 3 + j,
						label: `一级菜单${i + 1}的子二级菜单${j + 1}`
					}))
				})),
				totalNumber: 1,
				page: 1,
				tableData: [{
					id: 1,
					name: '',
					description: '',
					status: '',
					menu_ids: []
				}],
				adminFormRules: {
					name: [
						requiredRule('名称')
					],
					description: [
						requiredRule('描述')
					]
				},
				add: {
					dialog: false,
					avatarPreview: '',
					formData: commonForm()
				},
				edit: {
					dialog: false,
					avatarPreview: '',
					formData: commonForm()
				},
				menuSetting: {
					dialog: false,
					targetMenuData: [],
					id:''
				}
			}
		},
		created(){
            this.doQuery();
		},
		methods: {
            doQuery(){
                DMS.ajaxPost('__CONTROLLER__/getIndex',
                    {"page": this.page}, res => {
                        this.tableData = res.list;
                        this.totalNumber = res.totalNumber * 1;
                    })
			},
			showEditDialog(row){
				let fd = this.edit.formData
				Object.keys(fd).forEach(f => {
					if(f in row){
						fd[f] = row[f]
					}
				})
				this.edit.avatarPreview = this.edit.formData.avatar
				this.edit.dialog = true
			},
			pageChange(p){
				this.page = p
			},
			askDel(row){
				LOADINGOVERLAY.showConfirm({
					callback: () => {
                        DMS.ajaxPost('__CONTROLLER__/groupDelete',
                            {"id":row.id}, res => {
                                if (res.status === 1) {
                                    this.$message({
                                        message: res.info,
                                        type: 'success'
                                    });
                                    window.location.reload()
                                } else {
                                    this.$message({
                                        message: res.info,
                                        type: 'error'
                                    });
                                }
                            })
					}
				})
			},
			showMenuChangeDialog(row){
				this.menuSetting.targetMenuData = row.menu_ids.split(',')
                DMS.ajaxPost('__CONTROLLER__/Text',
                    {"groupId":row.id}, res => {
                        if (res.status === 1) {
                            this.treeMenuData = res.info
							this.menuSetting.id = row.id
						}
                    })
				this.menuSetting.dialog = true
			},
            groupAdd(){
                info = {
                    "title":this.add.formData.title,
					"description":this.add.formData.description,
					"status":this.add.formData.status
				}
                DMS.ajaxPost('__CONTROLLER__/groupAdd',
                    {"info":info}, res => {
                        if (res.status === 1) {
                            this.$alert(res.info, '通知', {
                                confirmButtonText: '确定',
                                callback: action => {

                                    window.location.reload()
                                }
                            })
                        } else {
                            this.$alert(res.info+res.info, '通知', {
                                confirmButtonText: '确定',
                                callback: action => {
                                }
                            })
                        }
                    })
			},
            groupEdit(){
                info = {
                    "title":this.edit.formData.title,
					"description":this.edit.formData.description,
					"status":this.edit.formData.status,
					"id":this.edit.formData.id
				}
				console.log(info)
                DMS.ajaxPost('__CONTROLLER__/groupEdit',
                    {"info":info}, res => {
                        if (res.status === 1) {
                            this.$alert(res.info, '通知', {
                                confirmButtonText: '确定',
                                callback: action => {
                                    window.location.reload()
                                }
                            })
                        } else {
                            this.$alert(res.info+res.info, '通知', {
                                confirmButtonText: '确定',
                                callback: action => {

                                }
                            })
                        }
                    })
			},
            groupSettingMenu(){
				console.log(this.$refs.treeSelector.getCheckedKeys(false))
                DMS.ajaxPost('__CONTROLLER__/groupSettingMenu',
                    {"ids":this.$refs.treeSelector.getCheckedKeys(false),"groupId":this.menuSetting.id}, res => {
                        if (res.status === 1) {
                            this.$alert(res.info, '通知', {
                                confirmButtonText: '确定',
                                callback: action => {
                                    window.location.reload()

                                }
                            })
                        } else {
                            this.$alert(res.info+res.info, '通知', {
                                confirmButtonText: '确定',
                                callback: action => {
                                }
                            })
                        }
                    })
			}

		}
	})
</script>
