<style>
    input[type=file] {
        display: none;
    }

    .avatar-previewer {
        width: 32px;
        height: 32px;
        display: block;
    }
</style>
<div class="padding-md" id="ADMINLIST">
    <div class="smart-widget widget-dark-blue">
        <div class="smart-widget-inner">
            <div class="smart-widget-body">
                <el-breadcrumb separator="/">
                    <el-breadcrumb-item>
                        <a href="">首页</a>
                    </el-breadcrumb-item>
                    <el-breadcrumb-item>
                        管理员管理
                    </el-breadcrumb-item>
                    <el-breadcrumb-item>
                        管理员列表
                    </el-breadcrumb-item>
                </el-breadcrumb>
                <el-divider></el-divider>
                <div class="">
                    <el-button icon="el-icon-plus" type="primary" @click="add.dialog = true">
                        添加管理员
                    </el-button>
                </div>
                <el-table :data="tableData">
                    <el-table-column prop="uid" label="UID"></el-table-column>
                    <el-table-column prop="username" label="账号"></el-table-column>
                    <el-table-column prop="realname" label="姓名"></el-table-column>
                    <el-table-column prop="group_name" label="用户组"></el-table-column>
                    <el-table-column prop="reg_date" label="注册时间">
                        <template #default="{ row }">
                            {{ formatedDateYmdhms(row.reg_date) }}
                        </template>
                    </el-table-column>
                    <el-table-column prop="last_date" label="最后登录">
                        <template #default="{ row }">
                            {{ formatedDateYmdhms(row.last_date) }}
                        </template>
                    </el-table-column>
                    <el-table-column prop="status" label="状态">
                        <template #default="{ row }">
                            <el-tag type="primary" v-if="row.status === '1'">
                                正常
                            </el-tag>
                            <el-tag type="danger" v-else>
                                异常
                            </el-tag>
                        </template>
                    </el-table-column>
                    <el-table-column label="操作" width="260">
                        <template #default="{ row, column }">
                            <el-button size="mini" @click="showDetailDialog(row)">
                                详情
                            </el-button>
                            <el-button size="mini" type="primary" @click="showEditDialog(row)">
                                编辑
                            </el-button>
                            <el-button size="mini" type="danger" @click="askDel(row)">
                                删除
                            </el-button>
                        </template>
                    </el-table-column>
                </el-table>
                <div class="flex justify-end mt3">
                    <el-pagination
                            background
                            layout="prev, pager, next"
                            :total="totalNumber"
                            :page-size="10"
                            :current-page="page"
                            @current-change="pageChange"
                    >
                    </el-pagination>
                </div>
            </div>
        </div>
    </div>
    <el-dialog title="添加管理员" :visible.sync="add.dialog" width="480px">
        <el-form :model="add.formData" label-width="100px" :rules="adminFormRules">
            <el-form-item label="登录账号" prop="account">
                <el-input v-model="add.formData.username"></el-input>
            </el-form-item>
            <el-form-item label="登录密码" prop="password">
                <el-input v-model="add.formData.password"></el-input>
            </el-form-item>
            <el-form-item label="真实姓名" prop="realname">
                <el-input v-model="add.formData.realname"></el-input>
            </el-form-item>
            <el-form-item label="手机号" prop="mobile">
                <el-input v-model="add.formData.mobile"></el-input>
            </el-form-item>
            <el-form-item label="头像" prop="avatar">
                <el-upload action="" :before-upload="beforeAvatarUpload" :before-remove="() => {
					add.formData.avatar = ''
					add.avatarPreview = ''
				}">
                    <img v-if="add.avatarPreview" :src="add.avatarPreview" class="avatar-previewer">
                    <el-button v-else icon="el-icon-plus" round type="primary"></el-button>
                </el-upload>
            </el-form-item>
            <el-form-item label="管理组" prop="group">
                <el-select v-model="add.formData.group">
                    <volist name="groupInfo" id="gi">
                        <el-option label="{$gi.title}" value="{$gi.id}">
                        </el-option>
                    </volist>
                </el-select>
            </el-form-item>
        </el-form>
        <div class="flex justify-center" slot="footer">
            <el-button type="primary" @click="adminAdd">
                提交
            </el-button>
        </div>
    </el-dialog>

    <el-dialog :visible.sync="detail.dialog" title="管理员详情" width="480px">
        <el-table :data="detail.tableData" :show-header="false" border>
            <el-table-column prop="label"></el-table-column>
            <el-table-column prop="value"></el-table-column>
        </el-table>
    </el-dialog>

    <el-dialog title="编辑管理员信息" :visible.sync="edit.dialog" width="480px">
        <el-form :model="edit.formData" label-width="100px" :rules="adminFormRules">
            <el-form-item label="登录账号" prop="account">
                <el-input v-model="edit.formData.username"></el-input>
            </el-form-item>
            <el-form-item label="登录密码" prop="password">
                <el-input v-model="edit.formData.password"></el-input>
            </el-form-item>
            <el-form-item label="真实姓名" prop="realname">
                <el-input v-model="edit.formData.realname"></el-input>
            </el-form-item>
            <el-form-item label="手机号" prop="mobile">
                <el-input v-model="edit.formData.mobile"></el-input>
            </el-form-item>
            <el-form-item label="头像" prop="avatar">
                <el-upload action="" :before-upload="beforeAvatarUpload" :before-remove="() => {
					edit.formData.avatar = ''
					edit.avatarPreview = ''
				}">
                    <img v-if="edit.avatarPreview" :src="edit.avatarPreview" class="avatar-previewer">
                    <el-button v-else icon="el-icon-plus" round type="primary"></el-button>
                </el-upload>
            </el-form-item>
            <el-form-item label="管理组" prop="group">
                <el-select v-model="edit.formData.group">
                    <volist name="groupInfo" id="gi">
                        <el-option label="{$gi.title}" value="{$gi.id}">
                        </el-option>
                    </volist>
                </el-select>
            </el-form-item>
        </el-form>
        <div class="flex justify-center" slot="footer">
            <el-button type="primary" @click="adminEdit">
                提交
            </el-button>
        </div>
    </el-dialog>
</div>
<script type="text/javascript">
    const ADMINLIST = new Vue({
        el: '#ADMINLIST',
        data() {
            const requiredRule = (n, prefix = '请输入', trigger = 'blur') => ({
                required: true,
                message: `${prefix}${n}！`,
                trigger,
            })
            return {
                // groupOptions: Array(5).fill(-1).map((_, i) => ({
                // 	name: `管理组${i + 1}`,
                // 	id: i + 1
                // })),
                totalNumber: 1,
                page: 1,
                tableData: [{
                    uid: 0,
                    username: '',
                    realname: '',
                    group_name: '',
                    reg_date: '',
                    last_date: '',
                    status: '',
                    mobile: '',
                    avatar: '',
                    password: '',
                }],
                adminFormRules: {
                    username: [
                        requiredRule('账号')
                    ],
                    password: [
                        requiredRule('密码')
                    ],
                    realname: [
                        requiredRule('姓名')
                    ],
                    mobile: [
                        requiredRule('手机号')
                    ],
                    avatar: [
                        requiredRule('头像', '请上传')
                    ]
                },
                add: {
                    dialog: false,
                    avatarPreview: '',
                    formData: {
                        uid:'',
                        username: '',
                        password: '',
                        realname: '',
                        mobile: '',
                        avatar: '',
                        group: ''
                    }
                },
                detail: {
                    dialog: false,
                    tableData: []
                },
                edit: {
                    dialog: false,
                    avatarPreview: '',
                    formData: {
                        uid:'',
                        username: '',
                        password: '',
                        realname: '',
                        mobile: '',
                        avatar: '',
                        group: '',
                    }
                }
            }
        },
        created() {
            this.doQuery();
        },
        methods: {
            showDetailDialog(row) {
                this.detail.tableData = [
                    ['username', '用户账号'],
                    ['group_name', '管理组'],
                    ['realname', '姓名'],
                    ['mobile', '手机号']
                ].map(([f, label]) => ({
                    label,
                    value: row[f]
                }))
                this.detail.dialog = true
            },
            showEditDialog(row) {
                let fd = this.edit.formData
                Object.keys(fd).forEach(f => {
                    if (f in row) {
                        fd[f] = row[f]
                    }
                })
                this.edit.avatarPreview = this.edit.formData.avatar
                this.edit.dialog = true
            },
            beforeAvatarUpload(f) {
                let fd = new FormData();
                fd.append('file', f)
                $.ajax({
                    url: '/util.php/Attachment/Index/adminUploadOne',
                    data: fd,
                    type: 'post',
                    data: fd,
                    contentType: false,
                    processData: false,
                    success: res => {
                        console.log(res);
                        this.edit.formData.avatar =res.path;
                        this.edit.avatarPreview =res.path;
                        this.add.formData.avatar =res.path;
                        this.add.avatarPreview =res.path;
                    }
                })

            },
            pageChange(p) {
                this.page = p
            },
            askDel(row) {
                LOADINGOVERLAY.showConfirm({
                    callback: () => {
                        DMS.ajaxPost('__CONTROLLER__/adminDelete',
                            {"uid":row.uid}, res => {
                                if (res.status === 1) {
                                    this.$alert(res.info, '通知', {
                                        confirmButtonText: '确定',
                                        callback: action => {
                                            this.create.dialog = false
                                            window.location.reload()
                                        }
                                    })
                                } else {
                                    this.$alert(res.info+res.info, '通知', {
                                        confirmButtonText: '确定',
                                        callback: action => {
                                            this.create.dialog = false
                                        }
                                    })
                                }
                            })
                    }
                })
            },
            doQuery() {
                DMS.ajaxPost('__CONTROLLER__/getIndex',
                    {"page": this.page}, res => {
                        this.tableData = res.list;
                        this.totalNumber = res.totalNumber * 1;
                    })
            },
            formatedDateYmdhms(timeStamp) {
                let d = new Date(timeStamp * 1000)
                return `${d.getFullYear()}-${d.getMonth() + 1}-${d.getDate()} ${d.getHours()}:${d.getMinutes()}:${d.getSeconds()}`
            },
            adminEdit() {
                info = {
                    "username": this.edit.formData.username,
                    "password": this.edit.formData.password,
                    "realname": this.edit.formData.realname,
                    "mobile": this.edit.formData.mobile,
                    "avatar": this.edit.formData.avatar,
                    "group_id": this.edit.formData.group,
                    "uid":this.edit.formData.uid
                }
                DMS.ajaxPost('__CONTROLLER__/adminEdit',
                    {"info":info}, res => {
                        if (res.status === 1) {
                            this.$alert(res.info, '通知', {
                                confirmButtonText: '确定',
                                callback: action => {
                                    this.create.dialog = false
                                    window.location.reload()
                                }
                            })
                        } else {
                            this.$alert(res.info+res.info, '通知', {
                                confirmButtonText: '确定',
                                callback: action => {
                                    this.create.dialog = false
                                }
                            })
                        }
                    })
            },
            adminAdd(){
                info = {
                    "username": this.add.formData.username,
                    "password": this.add.formData.password,
                    "realname": this.add.formData.realname,
                    "mobile": this.add.formData.mobile,
                    "avatar": this.add.formData.avatar,
                    "group_id": this.add.formData.group,
                    "uid":this.add.formData.uid
                }
                console.log(info)
                DMS.ajaxPost('__CONTROLLER__/adminAdd',
                    {"info":info}, res => {
                        if (res.status === 1) {
                            this.$alert(res.info, '通知', {
                                confirmButtonText: '确定',
                                callback: action => {
                                    this.create.dialog = false
                                    window.location.reload()
                                }
                            })
                        } else {
                            this.$alert(res.info+res.info, '通知', {
                                confirmButtonText: '确定',
                                callback: action => {
                                    this.create.dialog = false
                                }
                            })
                        }
                    })
            }
        }
    })
</script>
