<style media="screen">
  input[type=file] {
    display: none;
  }
  .el-form--inline .el-form-item{
    margin-bottom: 0;
  }
  .el-upload-dragger{
    width: 100%;
  }
  .el-upload{
    width: 100%;
  }
</style>
<div class="padding-md" id="CLIENTLIST">
  <!-- 面包屑导航 -->
  <div class="smart-widget" style="margin-bottom: 1px;">
    <div class="smart-widget-inner">
      <div class="smart-widget-body">
        <el-breadcrumb separator="/">
          <el-breadcrumb-item>
            <a href="">首页</a>
          </el-breadcrumb-item>
          <el-breadcrumb-item>
            客户管理
          </el-breadcrumb-item>
          <el-breadcrumb-item>
            客户列表
          </el-breadcrumb-item>
        </el-breadcrumb>
        <el-divider></el-divider>
        <div class="flex items-center justify-between">
          <el-button icon="el-icon-plus" type="primary" @click="createDialog = true">
            创建客户
          </el-button>
          <el-form inline>
            <el-form-item label="客户ID">
              <el-input v-model="queryCondition.client_id"></el-input>
            </el-form-item>
            <el-form-item label="客户名称">
              <el-input v-model="queryCondition.client_name"></el-input>
            </el-form-item>
            <el-form-item>
              <el-button type="primary">
                查询
              </el-button>
            </el-form-item>
          </el-form>
        </div>
        <el-table :data="tableData">
          <el-table-column prop="id" label="客户ID"></el-table-column>
          <el-table-column prop="name" label="客户名称"></el-table-column>
          <el-table-column prop="authority_id" label="客户权限">
            <template #default="{ row }">
              {{ authorities.find(({ id }) => id === row.authority_id).name }}
            </template>
          </el-table-column>
          <el-table-column label="操作">
            <template #default="{ row }">
              <el-button type="primary" size="mini" @click="() => {
                editAuthorityFormData.authority_id = row.authority_id
                editAuthorityDialog = true
              }">
                修改权限
              </el-button>
              <el-button type="danger" size="mini" @click="askDel(row)">
                删除
              </el-button>
            </template>
          </el-table-column>
        </el-table>
        <div class="mt3 flex justify-end">
          <el-pagination
            background
            layout="prev, pager, next"
            :total="totalNumber"
            :page-size="10"
            :current-page="queryCondition.page"
            @current-change="pageChange">
          </el-pagination>
        </div>
      </div>
    </div>
  </div>

  <!-- 创建客户弹窗 -->
  <el-dialog title="创建客户" :visible.sync="createDialog" width="480px">
    <el-form label-width="100px" :model="createFormData" :rules="{

    }">
      <el-form-item label="客户名称" prop="name">
        <el-input v-model="createFormData.name"/>
      </el-form-item>
      <el-form-item label="客户LOGO" prop="logo">
        <el-upload drag action="" :before-upload="beforeUpload" style="width: 100%;">
          <i class="el-icon-upload"></i>
        </el-upload>
      </el-form-item>
      <el-form-item label="客户权限" prop="authority_id">
        <el-select v-model="createFormData.authority_id" style="width:100%;">
          <el-option v-for="({ id, name }) in authorities" :key="id" :label="name" :value="id">
          </el-option>
        </el-select>
      </el-form-item>
    </el-form>
    <div slot="footer" class="flex justify-center">
      <el-button>
        重置
      </el-button>
      <el-button type="primary" class="ml3">
        提交
      </el-button>
    </div>
  </el-dialog>

  <!-- 修改权限弹窗 -->
  <el-dialog title="修改权限" :visible.sync="editAuthorityDialog" width="480px">
    <el-form label-width="100px" :model="editAuthorityFormData">
      <el-form-item label="客户权限">
        <el-select v-model="editAuthorityFormData.authority_id" style="width:100%;">
          <el-option :label="name" v-for="({ id, name }) in authorities" :key="name" :value="id">
          </el-option>
        </el-select>
      </el-form-item>
    </el-form>
    <div slot="footer" class="flex justify-center">
      <el-button type="primary" class="ml3">
        提交
      </el-button>
    </div>
  </el-dialog>
</div>
<script>
  const attendenceList = new Vue({
    el: '#CLIENTLIST',
    data() {
      return {
        // 权限列表，需要从数据库读取，这里是假数据
        authorities: Array(5).fill(-1).map((_, id) => ({
          id,
          name: `权限${id + 1}`
        })),
        editAuthorityDialog: false,
        editAuthorityFormData: {
          authority_id: ''
        },
        createDialog: false,
        createFormData: {
          name: '',
          logo: '',
          authority_id: ''
        },
        totalNumber: 1000,
        queryCondition: {
          client_id: '',
          client_name: '',
          page: 1
        },
        tableData: [{
          id: '92910129',
          name: 'sds1929',
          authority_id: 0
        }, {
          id: '12412431',
          name: 'abd1239',
          authority_id: 1
        }]
      }
    },
    mounted() {
      console.log(this.authorities);
    },
    computed: {},
    created() {},

    methods: {
      pageChange(p){
        this.queryCondition.page = p
      },
      beforeUpload(f){
        // f 是文件
        return false
      },
      askDel(row){
        // row 代表用户要删除的行数据
        this.$confirm('是否删除?', '提示', {
           confirmButtonText: '确定',
           type: 'warning'
         }).then(() => {
           // 执行删除逻辑
           this.$message({
            type: 'success',
            message: '删除成功!',
            showClose: true
          });
         }).catch(() => {
         });
      }
    }
  })
</script>
