<div class="padding-md" id="WARNINGLIST">
    <div class="smart-widget" style="margin-bottom: 1px;">
        <div class="smart-widget-inner">
            <div class="smart-widget-body">
                <el-breadcrumb separator="/">
                    <el-breadcrumb-item>
                        <a href="">首页</a>
                    </el-breadcrumb-item>
                    <el-breadcrumb-item>
                        考勤管理
                    </el-breadcrumb-item>
                    <el-breadcrumb-item>
                        告警列表
                    </el-breadcrumb-item>
                </el-breadcrumb>
                <el-divider></el-divider>
                <div class="flex justify-end">
                    <el-form inline>
                        <el-form-item label="关键字">
                            <el-input v-model="queryCondition.keyword" placeholder="根据员工号和姓名查询" style="width:120px;"></el-input>
                        </el-form-item>
                        <el-form-item label="时间">
                            <el-date-picker
                                    v-model="queryCondition.time"
                                    format="yyyy-MM-dd"
                                    value-format="yyyy-MM-dd"
                                    type="daterange"
                                    range-separator="至"
                                    start-placeholder="开始日期"
                                    end-placeholder="结束日期">
                            </el-date-picker>
                        </el-form-item>
                        <el-form-item label="职位">
                            <el-select v-model="queryCondition.position" style="width:120px;" @change="changePosition">
                                <el-option :value="0" label="全部"></el-option>
                                <volist name="positionList" id="sl">
                                    <el-option value="{$sl.id}" label="{$sl.name}"></el-option>
                                </volist>
                            </el-select>
                        </el-form-item>
                        <el-form-item label="管理人员">
                            <el-select v-model="queryCondition.manager" style="width:120px;" @change="changeManager">
                                <el-option :value="0" label="全部"></el-option>
                                <volist name="managerList" id="sl">
                                    <el-option value="{$sl.userid}" label="{$sl.realname}"></el-option>
                                </volist>
                            </el-select>
                        </el-form-item>
                        <el-form-item label="报警类型">
                            <el-select v-model="queryCondition.warningType" style="width:120px;" @change="changeWarningType">
                                <el-option :value="0" label="全部"></el-option>
                                <el-option v-for="(l, i) in [
                  '远离区域报警',
                  '低电量报警',
                  '迟到报警',
                  '旷工报警',
                  '早退报警',
                  '怠工超过设定时间告警'
                ]" :value="i + 2" :label="l"></el-option>
                            </el-select>
                        </el-form-item>
                        <el-form-item>
                            <el-button type="primary" @click="doQuery">查询</el-button>
                        </el-form-item>
                    </el-form>
                </div>
                <el-table :data="tableData">
                    <template v-for="([prop, label], i) in tableColumns">
                        <!--            <el-table-column :key="prop" :prop="prop" :label="label" v-if="prop === 'type'">-->
                        <!--              <template #default="{ row }">-->
                        <!--                <el-link :underline="false" type="danger">{{ row[prop] }}</el-link>-->
                        <!--              </template>-->
                        <!--            </el-table-column>-->
                        <el-table-column :key="prop" :prop="prop" :label="label" v-if="prop === 'serialNumber'">
                            <template #default="{ $index }">
                                {{ $index + 1 }}
                            </template>
                        </el-table-column>
                        <el-table-column :key="prop" :prop="prop" :label="label" v-else-if="prop === 'add_time'">
                            <template #default="{ row }">
                                {{ formatedDateYmdhms(row.add_time) }}
                            </template>
                        </el-table-column>
<!--                        <el-table-column :key="prop" :prop="prop" :label="label" v-else-if="prop === 'realname'">-->
<!--                            <template #default="{ row }">-->
<!--                                <el-button  type="text" @click="userInfo(row)" >{{ row[prop] }}</el-button>-->
<!--                            </template>-->
<!--                        </el-table-column>-->
                        <el-table-column :key="prop" :prop="prop" :label="label" v-else-if="prop === 'type'">
                            <template #default="{ row }">
                                <el-link type="danger"
                                         :underline="false"
                                         @click.native="window.open(`__MODULE__/Machine/machineOrbit/machine_id/${row.machine_imei}/searchTime/${formatedDateYmd(row.add_time)}`, '_self')"
                                >
                                    {{
                                    new Map([
                                    ['1', '远离工作区域'],
                                    ['2', '远离区域报警'],
                                    ['3', '低电量报警'],
                                    ['4', '迟到报警'],
                                    ['5', '旷工报警'],
                                    ['6', '早退报警'],
                                    ['7', '怠工超过设定时间告警']
                                    ]).get(row.type)
                                    }}
                                </el-link>
                            </template>
                        </el-table-column>
                        <el-table-column :key="prop" :prop="prop" :label="label" v-else-if="prop === 'realname'">
                            <template #default="{ row }">
                                <el-tooltip class="item" effect="dark" content="点击查看详情" placement="right">
                                 <span @click="showEmployeeDetail(row)" style="cursor:pointer;">
                                     {{ row[prop] }}
                                 </span>
                                </el-tooltip>
                            </template>
                        </el-table-column>
                        <el-table-column :key="prop" :prop="prop" :label="label" v-else></el-table-column>
                    </template>
                </el-table>
                <div class="flex justify-between mt3">
                    <el-button icon="el-icon-download" @click="exportExcel">
                        导出Excel
                    </el-button>
                    <el-pagination
                            background
                            layout="prev, pager, next"
                            :total="totalNumber"
                            :page-size="10"
                            :current-page="queryCondition.page"
                            @current-change="pageChange">
                    </el-pagination>
                </div>
            </div>
        </div>
    </div>
    <el-dialog :visible.sync="employeeDetail.dialog" title="员工详情" width="480px">
        <el-form :model="employeeDetail.formData" label-width="100px">
            <el-form-item :label="l" v-for="([l, f]) in [
        ['姓名', 'realname'],
        ['员工号', 'job_number'],
        ['手机号', 'mobile'],
        ['职位', 'position_name'],
        ['管理人员', 'parent_name'],
        ['性别', 'sex_name'],
        ['状态', 'job_status_name']
      ]">
                <el-input v-model="employeeDetail.formData[f]" disabled/>
            </el-form-item>
        </el-form>
    </el-dialog>
</div>
<script type="text/javascript">
    const WARNINGLIST = new Vue({
        el: '#WARNINGLIST',
        data(){
            return {
                totalNumber: 0,
                queryCondition: {
                    keyword: '',
                    time: [],
                    position: 0,
                    manager: 0,
                    warningType: 0,
                    page: 1
                },
                tableData: [
                ],
                tableColumns: [
                    ['serialNumber', '序号'],
                    ['machine_name', '设备名称'],
                    ['machine_imei', '设备号'],
                    ['realname', '绑定员工'],
                    ['job_number', '工号'],
                    // ['position', '职位id'],
                    ['position_name', '职位'],
                    // ['parent_id', '管理人员id'],
                    ['parent_name', '管理人员'],
                    ['add_time', '告警时间'],
                    ['type', '告警类型']
                ],
                employeeDetail: {
                    dialog: false,
                    formData: {
                        realname: '',
                        job_number: '',
                        mobile: '',
                        position_name: '',
                        parent_name: '',
                        sex_name: '',
                        job_status_name: ''
                    }
                }
            }
        },


        //页面加载时候，在mounted中进行赋值
        mounted() {
            // 初始化查询，默认为今天
            this.queryCondition.time = [this.timeDefault,this.timeDefault];
        },
        computed: {
            timeDefault() {
                var date = new Date();
                var s1 = date.getFullYear() + "-" + (date.getMonth() + 1) + "-" + date.getDate();
                return s1;
            },
        },
        created(){
            this.doQuery();
        },
        methods: {
            formatedDateYmdhms(timeStamp){
                let d = new Date(timeStamp * 1000)
                return `${d.getFullYear()}-${d.getMonth() + 1}-${d.getDate()} ${d.getHours()}:${d.getMinutes()}:${d.getSeconds()}`
            },
            formatedDateYmd(timeStamp){
                let d = new Date(timeStamp * 1000)
                return `${d.getFullYear()}-${d.getMonth() + 1}-${d.getDate()}`
            },
            showEmployeeDetail(row){
                DMS.ajaxPost('__MODULE__/Member/memberInfo',
                    {
                        "userid" : row.userid
                    }, res => {
                        this.employeeDetail.formData = res.member_info;
                    })
                this.employeeDetail.dialog = true
            },
            doQuery(){
                param = {
                    "keyword":this.queryCondition.keyword,
                    "time":this.queryCondition.time,
                    "position":this.queryCondition.position,
                    "parent_id":this.queryCondition.manager,
                    "type":this.queryCondition.warningType,
                    "page":this.queryCondition.page,
                }
                DMS.ajaxPost('__CONTROLLER__/getWarningMessageList',
                    param, res => {
                        this.tableData=res.WARNINGLIST;
                        this.totalNumber=res.totalNumber * 1;
                    })
            },
            pageChange(p){
                this.queryCondition.page = p;
                this.doQuery()
            },
            changePosition(e){
                this.queryCondition.page = 1
                this.doQuery()
            },
            changeWarningType(e){
                this.queryCondition.page = 1
                this.doQuery()
            },
            changeManager(e){
                this.queryCondition.page = 1
                this.doQuery()
            },

            exportExcel(){
                param = {
                    "keyword":this.queryCondition.keyword,
                    "time":this.queryCondition.time,
                    "position":this.queryCondition.position,
                    "parent_id":this.queryCondition.manager,
                    "type":this.queryCondition.warningType,
                    "page":this.queryCondition.page,
                }

                window.open('__CONTROLLER__/warningExcel/keywords/'+param["keyword"]+'/type/'+param["type"]+'/time/'+param["time"]+'/position/'+param["position"]+'/parent_id/'+param["parent_id"]
                    ,"_self");
            }
        }
    })
</script>
