<style type="text/css">
	#MAIN {
		color: #000;
	}

	#MAIN .panel-card {
		cursor: pointer;
		border-radius: 20px;
		background-color: #efefef;
	}

	#MAIN .panel-card:hover {
		background-color: #33D792;
		color: white;
	}

	#MAIN .panel-card .card-icon{
		color: #33D792;
		font-size: 32px;
	}

	#MAIN .panel-card:hover .card-icon{
		color: white;
	}

	#MAIN .panel-card p{
		color: #999;
	}

	#MAIN .panel-card:hover p{
		color: inherit;
	}

	#MAIN .real-time-monitor p{
		color: #999;
	}

	#MAIN .real-time-monitor h1{
		font-size: 56px;
	}

	#MAIN .real-time-monitor .add-btn{
		border: 1px dashed #ccc;
		border-radius: 3px;
		cursor: pointer;
	}

	#MAIN .real-time-monitor .add-btn:hover{
		border-color: #33D792;
	}

	#MAIN .real-time-monitor .add-btn i{
		font-size: 32px;
		color: #33D792;
	}

	#MAIN .real-time-selector{
		border: 1px solid #ddd;
		color: #999;
		padding: 12px 0;
		text-align: center;
		cursor: pointer;
		transition: all ease-in-out .2s;
		position: relative;
	}

	#MAIN .real-time-selector:hover:not(.selected),
	#MAIN .real-time-selector.selected{
		border-color: #33D792;
	}

	#MAIN .real-time-selector .checked{
		width: 20px;
		height: 18px;
		position: absolute;
		bottom: 0;
		right: 0;
		background-color: #33D792;
		color: white;
	}
</style>

<div id="MAIN" class="p3 bg-white">
	<div class="p2 bold h2 mt0">
  	常用菜单
  </div>
	<el-row :gutter="20" >
		<el-col :span="6" v-for="([icon, title, subtitle, menu, address], i) in [
			['date', '考勤记录', '今日考勤记录', '__MODULE__/Attendance/attendanceList', '__MODULE__/Attendance/attendanceList/start_time/{$newTime}/end_time/{$newTime}'],
			['s-custom', '员工管理', '员工列表', '__MODULE__/Member/memberList', '__MODULE__/Member/memberList'],
			['map-location', '设备位置', '电子栅栏', '__MODULE__/Map/mapMachine', '__MODULE__/Map/mapAllFence'],
			['mobile-phone', '设备管理', '设备列表', '__MODULE__/Machine/machineList', '__MODULE__/Machine/machineList']
		]" :key="i">
			<el-card class="panel-card" shadow="hover">
				<div class="row items-center justify-center">
					<i :class="[`el-icon-${icon}`, 'card-icon']"></i>
					<div class="ml3">
						<a :href=menu><h4>{{ title }}</h4></a>
						<a :href=address><p>{{ subtitle }}</p></a>
					</div>
				</div>
			</el-card>
		</el-col>
	</el-row>
	<el-divider></el-divider>
	<div class="p2 bold h2">
  	实时监控
  </div>
	<el-row :gutter="20" class="px4 real-time-monitor flex items-stretch py2">
		<el-col :span="6" v-for="(n, i) in realTimeMonitorData" :key="i" :class="['column', 'items-center', realTimeMonitorColor[i]]">
			<a :href="userOptionAdd[i]">
			<p>{{ realTimeMonitorDataLabelArr[i] }}</p>
			<h1 class="m0">
				{{ n }}
			</h1>
			</a>
		</el-col>
		<el-col :span="6" class="add-btn flex justify-center items-center" @click.native="realTimeDialog = true">
			<i class="el-icon-plus"></i>
		</el-col>
	</el-row>
	<!--上午-->
	<el-row :gutter="20" class="px4 real-time-monitor flex items-stretch py2"id="am">
		<el-col :span="6" >
			<p>上午考勤统计</p>
			<h1 class="m0">
				&nbsp;
			</h1>
		</el-col>
		<el-col :span="6" >
			<a href="/manager.php?s=/Attendance/attendanceList/status/1">
			<p>正常上班打卡</p>
			<h1 class="m0">
				{$am_t_normal_count|default=0}
			</h1>
			</a>
		</el-col>
		<el-col :span="6" >
			<a href="/manager.php?s=/Attendance/attendanceList/status/2">
			<p>迟到</p>
			<h1 class="m0">
				{$am_late_count|default=0}
			</h1>
			</a>
		</el-col>
		<el-col :span="6" >
			<a href="/manager.php?s=/Attendance/attendanceList/status/3">
			<p>旷工</p>
			<h1 class="m0">
				{$am_absenteeism_count|default=0}
			</h1>
			</a>
		</el-col>
		<el-col :span="6" >
			<a href="/manager.php?s=/Attendance/attendanceList/status/4">
			<p>早退</p>
			<h1 class="m0">
				{$am_leave_count|default=0}
			</h1>
			</a>
		</el-col>
		<el-col :span="6" >
			<a href="/manager.php?s=/Attendance/attendanceList/status/5">
			<p>正常下班打卡</p>
			<h1 class="m0">
				{$am_d_normal_count|default=0}
			</h1>
			</a>
		</el-col>
		<el-col :span="6" >
			<a href="/manager.php?s=/Attendance/attendanceList/status/12">
			<p>异常情况</p>
			<h1 class="m0">
				{$am_abnormal_count|default=0}
			</h1>
			</a>
		</el-col>

	</el-row>
	<!--下午-->
	<el-row :gutter="20" class="px4 real-time-monitor flex items-stretch py2" id="pm">
		<el-col :span="6" >
			<p>下午考勤统计</p>
			<h1 class="m0">
				&nbsp;
			</h1>
		</el-col>
		<el-col :span="6" >
			<a href="/manager.php?s=/Attendance/attendanceList/status/6">
			<p>正常上班打卡</p>
			<h1 class="m0">
				{$pm_t_normal_count|default=0}
			</h1>
			</a>
		</el-col>
		<el-col :span="6" >
			<a href="/manager.php?s=/Attendance/attendanceList/status/7">
			<p>迟到</p>
			<h1 class="m0">
				{$pm_late_count|default=0}
			</h1>
			</a>
		</el-col>
		<el-col :span="6" >
			<a href="/manager.php?s=/Attendance/attendanceList/status/8">
			<p>旷工</p>
			<h1 class="m0">
				{$pm_absenteeism_count|default=0}
			</h1>
			</a>
		</el-col>
		<el-col :span="6" >
			<a href="/manager.php?s=/Attendance/attendanceList/status/9">
			<p>早退</p>
			<h1 class="m0">
                {$pm_leave_count|default=0}
			</h1>
			</a>
		</el-col>
		<el-col :span="6" >
			<a href="/manager.php?s=/Attendance/attendanceList/status/10">
			<p>正常下班打卡</p>
			<h1 class="m0">
				{$pm_d_normal_count|default=0}
			</h1>
			</a>
		</el-col>
		<el-col :span="6" >
			<a href="/manager.php?s=/Attendance/attendanceList/status/13">
			<p>异常情况</p>
			<h1 class="m0">
				{$pm_abnormal_count|default=0}
			</h1>
			</a>
		</el-col>

	</el-row>

	<el-divider></el-divider>
	<div class="flex justify-between items-center">
		<div class="p2 bold h2">
			异常警告
		</div>
		<a href="__MODULE__/WarningMessage/warningMessageList">
		<el-button icon="el-icon-right" plain type="primary">
			查看更多
		</el-button>
		</a>
	</div>
	<el-table style="width: 100%" id="tableData"  v-bind:data="tableData">
		<template  v-for="({ prop, label }, i) in tableColumns">
			<el-table-column :key="i" :prop="prop" :label="label" v-if="prop !== 'type' && prop !== 'realname' ">
			</el-table-column>
			<el-table-column :key="i" :prop="prop" :label="label" v-else-if="prop == 'realname' ">
				<template #default="{ row}">
					<a :href=row.userinfo>
						<el-tag >
							{{ row.realname }}
						</el-tag>
					</a>
				</template>
			</el-table-column>
			<el-table-column :key="i" v-else-if="prop == 'type'" :prop="prop" :label="label">
				<template #default="{ row}">
					<a :href=row.hrefs>
					<el-tag type="danger">
						{{ row.type }}
					</el-tag>
					</a>
				</template>
			</el-table-column>
		</template>
 </el-table>
 <el-dialog
	title="实时监控"
	:visible.sync="realTimeDialog"
	 width="50%">
	<el-row :gutter="20">
		<el-col :span="6" v-for="({ label, selected }, i) in realTimeMenusWithSelectedStates" class="mb2">
			<div :class="['real-time-selector', { 'selected': selected}]" @click="() => toggleRealTimeMenuSelectedState(label, selected)">
				<span :class="['real-time-selector1', { 'selected': selected}]">{{ label }}</span>
				<div class="checked" v-show="selected">
					<i class="el-icon-check"></i>
				</div>
			</div>
		</el-col>
	</el-row>
  <span slot="footer" class="flex justify-center">
		<el-button type="primary" @click="changeOption()">确 定</el-button>
    <el-button @click="resetOption()">重置</el-button>
  </span>
</el-dialog>
</div>
<script type="text/javascript">
	function userInfo(userid){
		layer.open({
			type: 2,
			title:"员工详情",
			shadeClose: true,
			shade: 0.2,
			scrollbar: false,
			area: ['800px', '400px'],
			content: "__MODULE__/Member/memberInfo/userid/"+userid
		});
	}
	const main = new Vue({
		el: '#MAIN',
		data() {
			return {
				selectedRealTimeMenus: [],
				realTimeMenus: [],
				realTimeDialog: false,
				tableData: null,
				tableColumns: [
					['设备名称', 'machine_name'],
					['设备号', 'machine_imei'],
					['绑定员工', 'realname'],
					['工号', 'job_number'],
					['职位', 'position'],
					['管理人员', 'parent_id'],
					['告警时间', 'add_time'],
					['告警类型', 'type'],
				].map(([ label, prop ]) => ({
					label,
					prop
				})),
				realTimeMonitorData: [],
				realTimeMonitorColor: ['primary', 'warning', 'danger'],
				realTimeMonitorDataLabelArr: [],
				userOptionAdd:[]
			}
		},
		computed: {
			realTimeMenusWithSelectedStates(){
				return this.realTimeMenus.map(label => ({
					label,
					selected: this.selectedRealTimeMenus.some(v => v === label)
				}))
			}
		},
		methods: {
			resetOption(){
				DMS.ajaxPost('__MODULE__/ShowOption/optionSelect' , {
					option_ids: '1,2,3,4,5',
				}, res => {
					if(res.status==1){
						layer.msg(res.info,{icon: 1, time: 2000},function(){
							window.location.reload();
						});
					}else{
						layer.msg(''+res.info+'',{icon: 2, time: 2000});
					}
				})
			}
			,
			changeOption(){
				var userOptions=[];
				var list=document.getElementsByClassName("real-time-selector1 selected");
				for(var i=0;i<list.length;i++){
					switch (list[i].innerHTML) {
						case "总设备数":
							userOptions.push(1);
							break;
						case "今日上线设备总数":
							userOptions.push(2);
							break;
						case "当前在线设备数":
							userOptions.push(3);
							break;
						case "员工总数":
							userOptions.push(4);
							break;
						case "在岗人数":
							userOptions.push(5);
							break;
						case "离岗人数":
							userOptions.push(6);
							break;
						case "未上岗人数":
							userOptions.push(7);
							break;
						case "上午考勤统计":
							userOptions.push(8);
							break;
						case "下午考勤统计":
							userOptions.push(9);
							break;
					}
				}

				DMS.ajaxPost('__MODULE__/ShowOption/optionSelect' , {
                    option_ids: userOptions.toString(),
                }, res => {
					if(res.status==1){
						layer.msg(res.info,{icon: 1, time: 2000},function(){
							window.location.reload();
						});
					}else{
						layer.msg(''+res.info+'',{icon: 2, time: 2000});
					}
                })
			}
			,
			getData(){
				DMS.ajaxPost('__MODULE__/Index/mainPost' , {
					page: null,
				}, res => {
					var option=[];
					this.tableData=res['list_today'];
					for(var a=0;a<res['list_today'].length;a++){
						res['list_today'][a]['hrefs']="__MODULE__/Machine/machineOrbit/machine_id/"+res['list_today'][a]['machine_id']+"/searchTime/"+res['list_today'][a]['add_time'];
						res['list_today'][a]['userinfo']="javascript:userInfo("+res['list_today'][a]['uid']+");";
						//判断类型
						switch (res['list_today'][a]['type']) {
							case '2':
								res['list_today'][a]['type']='远离区域报警';
								break;
							case '3':
								res['list_today'][a]['type']='低电量报警';
								break;
							case '4':
								res['list_today'][a]['type']='迟到报警';
								break;
							case '5':
								res['list_today'][a]['type']='旷工报警';
								break;
							case '6':
								res['list_today'][a]['type']='早退报警';
								break;
							case '7':
								res['list_today'][a]['type']='怠工报警';
								break;
						}

					}
					var userOptionAddress=[];
					for (var a=0;a<res['options'].length;a++){
						option.push(res['options'][a].showname);
						userOptionAddress.push(res['options'][a].address);
					}
					this.userOptionAdd=userOptionAddress;
					this.realTimeMenus=option;//所有的option
					//遍历一次useroption，给各种东西进行赋值
					var userOption=[];
					var userOptionValue=[];
					var userOption2=[];
					var am=true;
					var pm=true;
					for (var a=0;a<res['userOptions'].length;a++){
						switch (res['userOptions'][a]) {
							case '1':
								userOption.push('总设备数');
								userOption2.push('总设备数');
								userOptionValue.push(res['mahcine_count']);
								break;
							case '2':
								userOption.push('今日上线设备总数');
								userOption2.push('今日上线设备总数');
								userOptionValue.push(res['today_mount_guard_count']);
								break;
							case '3':
								userOption.push('当前在线设备数');
								userOption2.push('当前在线设备数');
								userOptionValue.push(res['mount_guard_count']);
								break;
							case '4':
								userOption.push('员工总数');
								userOption2.push('员工总数');
								userOptionValue.push(res['count_member']);
								break;
							case '5':
								userOption.push('在岗人数');
								userOption2.push('在岗人数');
								userOptionValue.push(res['on_guard_count']);
								break;
							case '6':
								userOption.push('离岗人数');
								userOption2.push('离岗人数');
								userOptionValue.push(res['out_guard_count']);
								break;
							case '7':
								userOption.push('未上岗人数');
								userOption2.push('未上岗人数');
								userOptionValue.push(res['no_guard_count']);
								break;
							case '8':
								userOption.push('上午考勤统计');
								userOption2.push('上午考勤统计');
								am=false;
								//document.getElementById("am").style.display = 'block';
								break;
							case '9':
								userOption.push('下午考勤统计');
								userOption2.push('下午考勤统计');
								pm=false;
								//document.getElementById("pm").style.display = 'block';
								break;
						}
					}
					if (am){
						document.getElementById("am").style.display = 'none';
					}
					if (pm){
						document.getElementById("pm").style.display = 'none';
					}
					this.selectedRealTimeMenus=userOption;//用户拥有的option的值   编辑打开的页面里面选中的选项
					this.realTimeMonitorDataLabelArr=userOption2;//用户拥有的option的值    在首页展示的选项
					this.realTimeMonitorData=userOptionValue;//option 的值
				})
			},
			toggleRealTimeMenuSelectedState(label, state){
				if(state){
					this.selectedRealTimeMenus.splice(this.selectedRealTimeMenus.findIndex(v => v === label), 1)
					return
				}
				this.selectedRealTimeMenus.push(label)
			}
		}
	})
	main.getData();

</script>
