<style media="screen">
	#ATTENDENCESETTING .number-input {
		width: 100%;
	}
</style>
<div class="padding-md" id="ATTENDENCESETTING">
	<div class="smart-widget widget-dark-blue">
		<div class="smart-widget-inner padding-md">
			<div class="smart-widget-body">
				<el-breadcrumb separator="/">
					<el-breadcrumb-item>
						<a href="/">首页</a>
					</el-breadcrumb-item>
					<el-breadcrumb-item>
						考勤管理
					</el-breadcrumb-item>
					<el-breadcrumb-item>
						考勤设置
					</el-breadcrumb-item>
				</el-breadcrumb>
				<el-divider></el-divider>
				<el-row>
					<el-col :span="10" :offset="7">
						<el-form ref="mainForm" :model="info" label-width="320px" :rules="{
							error_time: [
				        { required: true, message: '请输入允许设备误差时间！', trigger: 'blur' },
				      ],
							still_time: [
				        { required: true, message: '请输入允许设备静止多长时间报警！', trigger: 'blur' },
				      ],
							late_time: [
								{ required: true, message: '请输入允许超过上班开始多长时间算是迟到！', trigger: 'blur' },
							],
							absenteeism_time: [
								{ required: true, message: '允许超过上班开始多长时间算是旷工！', trigger: 'blur' },
							],
							distance_time: [
								{ required: true, message: '允许设备远离区域多长时间报警！', trigger: 'blur' },
							],
							leave_time: [
								{ required: true, message: '允许设备远离区域多长时间算是早退！', trigger: 'blur' },
							],
						}">
							<el-form-item prop="error_time" label="允许设备误差时间(秒数)">
								<el-input-number v-model="info.error_time" class="number-input" />
							</el-form-item>
							<el-form-item prop="still_time" label="允许设备静止多长时间报警(秒数)">
								<el-input-number v-model="info.still_time" class="number-input" />
							</el-form-item>
							<el-form-item prop="late_time" label="允许超过上班开始多长时间算是迟到(秒数)">
								<el-input-number v-model="info.late_time" class="number-input" />
							</el-form-item>
							<el-form-item prop="absenteeism_time" label="允许超过上班开始多长时间算是旷工(秒数)">
								<el-input-number v-model="info.absenteeism_time" class="number-input" />
							</el-form-item>
							<el-form-item prop="distance_time" label="允许设备远离区域多长时间报警(秒数)">
								<el-input-number v-model="info.distance_time" class="number-input" />
							</el-form-item>
							<el-form-item prop="leave_time" label="允许设备远离区域多长时间算是早退(秒数)">
								<el-input-number v-model="info.leave_time" class="number-input" />
							</el-form-item>
						</el-form>
						<div class="row justify-center">
							<el-button type="primary" @click="submit">提交</el-button>
						</div>
					</el-col>
				</el-row>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
	const attendanceSetting = new Vue({
		el: '#ATTENDENCESETTING',
		data() {
			return {
				info: {
					error_time: '{$error_time}',
					still_time: '{$still_time}',
					late_time: '{$late_time}',
					absenteeism_time: '{$absenteeism_time}',
					distance_time: '{$distance_time}',
					leave_time: '{$leave_time}'
				}
			}
		},
		methods: {
			submit() {
				this.$refs.mainForm.validate(r => {
					if (r) {
						DMS.ajaxPost("__CONTROLLER__/attendanceSetting", {
							info: this.info
						}, res => {
							if (res.status == 1) {
								this.$alert('提交成功！', '通知', {
									confirmButtonText: '确定',
									callback: action => {
										window.location.reload()
									}
								})

							} else {

								this.$alert('提交失败！失败原因：'+res.info, '通知', {
									confirmButtonText: '确定',
								})
							}
						})
					}
				})
			}
		}
	})
</script>
