<style media="screen">
	.child-name{
		text-indent: 2em;
		display: inline-block;
	}
</style>
<div class="padding-md" id="MENULIST">
	<div class="smart-widget widget-dark-blue">
		<div class="smart-widget-inner">
			<div class="smart-widget-body">
				<el-breadcrumb separator="/">
					<el-breadcrumb-item>
						<a href="">首页</a>
					</el-breadcrumb-item>
					<el-breadcrumb-item>
						管理员管理
					</el-breadcrumb-item>
					<el-breadcrumb-item>
						菜单列表
					</el-breadcrumb-item>
				</el-breadcrumb>
				<el-divider></el-divider>
				<div class="">
					<el-button icon="el-icon-plus" type="primary" @click="add.dialog = true" @click="add.dialog = true">
						添加菜单
					</el-button>
				</div>
				<el-table row-key="id" :data="tableData" :tree-props="{
					children: 'children'
				}" default-expand-all>
					<el-table-column prop="order" label="排序"></el-table-column>
					<el-table-column prop="id" label="ID"></el-table-column>
					<el-table-column prop="name" label="名称">
						<template #default="{ row }">
							<span :class="[{'child-name': row.order === 0}]">
								{{ row.order === 0 ? '|-' : ''}} {{ row.name }}
							</span>
						</template>
					</el-table-column>
					<el-table-column label="模块 - 控制器 - 方法" width="300">
						<template #default="{ row }">
							{{ row.moduleName }} - {{ row.controllerName }} - {{ row.functionName }}
						</template>
					</el-table-column>
					<el-table-column label="是否显示">
						<template #default="{ row }">
							<el-tag type="primary" v-if="row.status === 1">
								是
							</el-tag>
							<el-tag type="danger" v-else>
								否
							</el-tag>
						</template>
					</el-table-column>
					<el-table-column label="操作">
						<template #default="{ row }">
							<el-button size="small" type="warning" @click="addChildDialog(row)">添加下级</el-button>
							<el-button size="small" type="primary" @click="showEditDialog(row)">编辑</el-button>
							<el-button size="small" type="danger" @click="askDel(row)">删除</el-button>
						</template>
					</el-table-column>
				</el-table>
			</div>
		</div>
	</div>
	<el-dialog title="添加菜单" :visible.sync="add.dialog" width="640px">
		<el-form :model="add.formData" label-width="100px" :rules="adminFormRules">
			<el-row :gutter="10">
				<el-col :span="12">
					<el-form-item label="级别" prop="level">
						<el-select v-model="add.formData.level">
							<el-option v-for="({ id, name }) in menuOptions" :key="id" :label="name" :value="id"></el-option>
						</el-select>
					</el-form-item>
				</el-col>
				<el-col :span="12">
					<el-form-item label="菜单名称" prop="name">
						<el-input v-model="add.formData.name"></el-input>
					</el-form-item>
				</el-col>
				<el-col :span="12">
					<el-form-item label="模块名称" prop="moduleName">
						<el-input v-model="add.formData.moduleName" disabled></el-input>
					</el-form-item>
				</el-col>
				<el-col :span="12">
					<el-form-item label="控制器名称" prop="controllerName">
						<el-input v-model="add.formData.controllerName"></el-input>
					</el-form-item>
				</el-col>
				<el-col :span="12">
					<el-form-item label="方法名" prop="functionName">
						<el-input v-model="add.formData.functionName"></el-input>
					</el-form-item>
				</el-col>
				<el-col :span="12">
					<el-form-item label="自定义参数" prop="customParam">
						<el-input v-model="add.formData.customParam"></el-input>
					</el-form-item>
				</el-col>
				<el-col :span="12">
					<el-form-item label="排序" prop="order">
						<el-input v-model="add.formData.order"></el-input>
					</el-form-item>
				</el-col>
				<el-col :span="12">
					<el-form-item label="图标CLASS" prop="icon">
						<el-input v-model="add.formData.icon"></el-input>
					</el-form-item>
				</el-col>
			</el-row>
			<el-form-item label="状态" prop="icon">
				<el-radio v-model="add.formData.status" :label="1">显示</el-radio>
				<el-radio v-model="add.formData.status" :label="0">隐藏</el-radio>
			</el-form-item>
		</el-form>
		<div class="flex justify-center" slot="footer">
			<el-button type="primary">
				提交
			</el-button>
		</div>
	</el-dialog>

	<el-dialog title="编辑菜单信息" :visible.sync="edit.dialog" width="640px">
		<el-form :model="edit.formData" label-width="100px" :rules="adminFormRules">
			<el-row :gutter="10">
				<el-col :span="12">
					<el-form-item label="级别" prop="level">
						<el-select v-model="edit.formData.level" :disabled="edit.addingChild">
							<el-option v-for="({ id, name }) in menuOptions" :key="id" :label="name" :value="id"></el-option>
						</el-select>
					</el-form-item>
				</el-col>
				<el-col :span="12">
					<el-form-item label="菜单名称" prop="name">
						<el-input v-model="edit.formData.name"></el-input>
					</el-form-item>
				</el-col>
				<el-col :span="12">
					<el-form-item label="模块名称" prop="moduleName">
						<el-input v-model="edit.formData.moduleName" disabled></el-input>
					</el-form-item>
				</el-col>
				<el-col :span="12">
					<el-form-item label="控制器名称" prop="controllerName">
						<el-input v-model="edit.formData.controllerName"></el-input>
					</el-form-item>
				</el-col>
				<el-col :span="12">
					<el-form-item label="方法名" prop="functionName">
						<el-input v-model="edit.formData.functionName"></el-input>
					</el-form-item>
				</el-col>
				<el-col :span="12">
					<el-form-item label="自定义参数" prop="customParam">
						<el-input v-model="edit.formData.customParam"></el-input>
					</el-form-item>
				</el-col>
				<el-col :span="12">
					<el-form-item label="排序" prop="order">
						<el-input v-model="edit.formData.order"></el-input>
					</el-form-item>
				</el-col>
				<el-col :span="12">
					<el-form-item label="图标CLASS" prop="icon">
						<el-input v-model="edit.formData.icon"></el-input>
					</el-form-item>
				</el-col>
			</el-row>
			<el-form-item label="状态" prop="icon">
				<el-radio v-model="edit.formData.status" :label="1">显示</el-radio>
				<el-radio v-model="edit.formData.status" :label="0">隐藏</el-radio>
			</el-form-item>
		</el-form>
		<div class="flex justify-center" slot="footer">
			<el-button type="primary">
				提交
			</el-button>
		</div>
	</el-dialog>
</div>
<script type="text/javascript">
	const MENULIST = new Vue({
		el: '#MENULIST',
		data(){
			const commonForm = () => JSON.parse(JSON.stringify({
				level: 0,
				name: '',
				moduleName: 'Admin',
				controllerName: '',
				functionName: '',
				customParam: '',
				order: '',
				icon: '',
				status: 1
			}))
			const requiredRule = (n, prefix = '请输入', trigger = 'blur') => ({
				required: true,
				message: `${prefix}${n}！`,
				trigger,
			})
			return {
				adminFormRules: {
					name: [requiredRule('名称')],
					controllerName: [requiredRule('控制器名称')],
					functionName: [requiredRule('方法名称')],
					order: [requiredRule('排序')],
					icon: [requiredRule('图标CLASS')],
				},
				add: {
					dialog: false,
					formData: commonForm()
				},
				edit: {
					addingChild: false,
					dialog: false,
					formData: commonForm()
				},
				menuOptions: [{
					id: 0,
					name: '作为一级菜单'
				}].concat(Array(5).fill(-1).map((_, i) => ({
					id: i + 1,
					name: `菜单${i +1}`
				}))),
				tableData: [{
					order: 1,
					id: 1,
					name: '菜单一',
					icon: 'fa-xxx',
					customParam: 'a=1&b=2',
					moduleName: 'Admin',
					controllerName: 'Controller1',
					functionName: 'function1',
					status: 1,
					children: Array(4).fill(0).map((_, i) => ({
						id: 3 + i,
						parentId: 1,
						name: `菜单一的子菜单${i + 1}`,
						moduleName: 'Admin',
						controllerName: `ChildController${i + 1}`,
						functionName: `ChildFunction${i + 1}`,
						status: 1,
						order: 0
					}))
				}, {
					order: 2,
					id: 2,
					name: '菜单二',
					customParam: 'a=1&b=2',
					icon: 'fa-xxx',
					moduleName: 'Admin',
					controllerName: 'Controller1',
					functionName: 'function1',
					status: 0,
					children: Array(4).fill(0).map((_, i) => ({
						id: 7 + i,
						parentId: 2,
						name: `菜单二的子菜单${i + 1}`,
						moduleName: 'Admin',
						controllerName: `ChildController${i + 1}`,
						functionName: `ChildFunction${i + 1}`,
						status: 0,
						order: 0
					}))
				}]
			}
		},
		methods: {
			showEditDialog(row){
				let fd = this.edit.formData
				Object.keys(fd).forEach(f => {
					if(f in row){
						fd[f] = row[f]
					}
				})
				fd.level = row.order === 1 ? 0 : row.parentId
				this.edit.addingChild = false
				this.edit.dialog = true
			},
			addChildDialog(row){
				this.edit.addingChild = true
				this.edit.formData.level = row.id
				this.edit.dialog = true
			},
			askDel(row){
				LOADINGOVERLAY.showConfirm({
					callback: () => {
						// 这里执行确认删除逻辑
						console.log('即将删除的项：', row);
					}
				})
			}
		}
	})
</script>
