<style media="screen">
	.el-link+.el-link{
		margin-left: 8px;
	}
	input[type=file]{
		display: none;
	}
</style>
<div class="padding-md" id="MACHINELIST">
	<div class="smart-widget" style="margin-bottom: 1px;">
		<div class="smart-widget-inner">
			<div class="smart-widget-body">
				<el-breadcrumb separator="/">
          <el-breadcrumb-item>
            <a href="">首页</a>
          </el-breadcrumb-item>
          <el-breadcrumb-item>
            设备管理
          </el-breadcrumb-item>
          <el-breadcrumb-item>
            设备列表
          </el-breadcrumb-item>
        </el-breadcrumb>
				<el-divider></el-divider>
				<div class="flex px3 justify-between items-start">
					<el-button icon="el-icon-plus" type="primary" @click="create.createDviceDialog = true">
						添加设备
					</el-button>
					<el-form inline :model="queryCondition">
						<el-form-item label="设备状态">
							<el-select v-model="queryCondition.status" style="width:100px;"  @change="changeStatus">
								<el-option v-for="(l, i) in ['全部', '在线', '离线']" :label="l" :key="l" :value="i">
								</el-option>
							</el-select>
						</el-form-item>
						<el-form-item label="职位">
							<el-select v-model="queryCondition.position" style="width:100px;" @change="changePosition" >
								<el-option label="全部" :value="0">
								</el-option>
								<volist name="positionList" id="pl">
									<el-option label="{$pl.name}" value="{$pl.id}">
									</el-option>
								</volist>
							</el-select>
						</el-form-item>
						<el-form-item label="管理人员">
							<el-select v-model="queryCondition.manager" style="width:100px;" @change="changeManager">
								<el-option label="全部" :value="0">
								</el-option>
								<volist name="managerList" id="pl">
									<el-option label="{$pl.realname}" value="{$pl.userid}">
									</el-option>
								</volist>
							</el-select>
						</el-form-item>
						<el-form-item label="关键字" prop="keyword">
							<el-input v-model="queryCondition.keyword"/>
						</el-form-item>
						<el-form-item>
							<el-button icon="el-icon-search" type="primary" @click="doQuery">
								查询
							</el-button>
						</el-form-item>
					</el-form>
				</div>
				<el-table :data="tableData" @selection-change="s => batchSelections = s">
					<el-table-column
					type="selection"
					width="55">
				</el-table-column>
				<template v-for="([prop, label], i) in tableColumns">
					<el-table-column :key="prop" :prop="prop" :label="label" v-if="prop === 'serialNumber'">
						<template #default="{ $index }">
							{{ $index + 1 }}
						</template>
					</el-table-column>
					<el-table-column :key="prop" :prop="prop" :label="label" v-else-if="prop === 'machine_status'">
						<template #default="{ row }">
							<el-tag v-if="row.machine_status === 1" type="primary">在线</el-tag>
							<el-tag v-else-if="row.machine_status === 2" type="danger">离线</el-tag>
							<el-tag v-else type="info">未知</el-tag>
						</template>
					</el-table-column>
					<el-table-column :key="prop" :prop="prop" :label="label" v-else-if="prop === 'rowOperations'" :width="320">
						<template #default="{ row }">
							<el-link :underline="false" type="primary">
								设备位置
							</el-link>
							<el-link :underline="false" type="primary">
								设备轨迹
							</el-link>
							<el-link :underline="false" type="primary">
								划分区域
							</el-link>
							<el-link :underline="false" type="primary">
								所属区域
							</el-link>
							<el-link :underline="false" type="danger">
								解除区域
							</el-link>
							<el-link :underline="false" type="primary">
								设置班组
							</el-link>
							<el-link :underline="false" type="primary">
								绑定员工
							</el-link>
							<el-link :underline="false" type="primary">
								编辑
							</el-link>
							<el-link :underline="false" type="danger">
								删除
							</el-link>
						</template>
					</el-table-column>
					<el-table-column :key="prop" :prop="prop" :label="label" v-else></el-table-column>
				</template>
				</el-table>
					<div class="flex justify-between items-center mt4">
						<div class="">
							<el-button icon="el-icon-sort" type="primary" :disabled="!hasSelection" @click="batchChangeBindDialog = true">
								批量换绑或解除
							</el-button>
							<el-button type="warning" icon="el-icon-refresh-left" :disabled="!hasSelection">
								批量切换班组
							</el-button>
							<el-button type="danger" icon="el-icon-delete" :disabled="!hasSelection">
								批量删除设备
							</el-button>
						</div>
						<el-pagination
							background
							layout="prev, pager, next"
							:total="totalNumber"
							:page-size="10"
							:current-page="queryCondition.page"
							@current-change="pageChange">
						</el-pagination>
				</div>
      </div>
		</div>
	</div>
	<el-dialog :visible.sync="batchChangeBindDialog" title="批量换绑或者解除区域" width="480px">
		<el-form label-width="100px">
			<el-form-item label="关键字查询">
				<el-input v-model="batchChangeBindDialogFormData.keyword"/>
				<el-button type="primary">
					查询
				</el-button>
			</el-form-item>
			<el-form-item label="解除区域">
				<el-select style="width:100%;" v-model="batchChangeBindDialogFormData.area">
					<el-option :label="`选项${n}`" v-for="n in 4" :key="n" :value="n"></el-option>
				</el-select>
			</el-form-item>
		</el-form>
		<div class="row justify-center" slot="footer">
			<el-button type="primary">
				提交
			</el-button>
		</div>
	</el-dialog>
	<el-dialog :visible.sync="create.createDviceDialog" title="添加设备" width="480px">
		<div class="flex justify-center">
			<el-radio-group v-model="create.type" style="margin-bottom: 30px;">
				<el-radio-button label="handy">手动添加</el-radio-button>
				<el-radio-button label="batch">批量添加</el-radio-button>
			</el-radio-group>
		</div>
		<el-form label-width="100px" v-if="create.type === 'handy'">
			<el-form-item label="设备名称">
				<el-input v-model="create.formData.machine_name"></el-input>
			</el-form-item>
			<el-form-item label="设备IMEI">
				<el-input v-model="create.formData.machine_imei"></el-input>
			</el-form-item>
		</el-form>
		<div v-else class="column items-center">
			<el-link href="__ROOT__/Public/Admin/File/shebei.xlsx" type="primary" class="mb3">下载批量带入模板</el-link>
			<el-upload
			  drag
			  action="">
			  <i class="el-icon-upload"></i>
			  <div class="el-upload__text">将文件拖到此处，或<em>点击上传</em></div>
			</el-upload>
		</div>
		<div class="row justify-center" slot="footer">
			<el-button type="primary">
				提交
			</el-button>
		</div>
	</el-dialog>
</div>
<script type="text/javascript">
	const MACHINELIST = new Vue({
		el: '#MACHINELIST',
		data(){
			return {
				create: {
					createDviceDialog: false,
					type: 'handy',
					formDataRules: {
						deviceName: [
						]
					},
					formData: {
						diviceName: '',
						imei: ''
					}
				},
				batchSelections: [],
				tableData: [
				],
				queryCondition: {
					keyword: '',
					status: 0,
					position: 0,
					manager: 0,
					page: 1
				},
				// 分页总数据条数
				totalNumber: 0,
				tableColumns: [
					['serialNumber', '序号'],
					['machine_imei', '设备号'],
					['machine_name', '设备名称'],
					['machine_status', '设备状态'],
					['electricity', '电量'],
					['job_number', '工号'],
					['realname', '负责人'],
					['position_name', '职位'],
					['parent_name', '管理人员'],
					['area_name', '所属区域名称'],
					['schedules_name', '班组'],
					['rowOperations', '操作']
				],
				batchChangeBindDialog: false,
				batchChangeBindDialogFormData: {
					keyword: '',
					area: '',
				}
			}
		},

		created(){
			// 从接口获取数据
			// this.getData();
			this.doQuery();
		},
		methods: {
			// getData(){
			// 	DMS.ajaxPost('__CONTROLLER__/getMachineList',
			// 		res => {
			// 		this.tableData = res.machineList;
			// 		this.totalNumber=res.totalNumber * 1;
			// 	})
			// },
			/**
			 * [pageChange 分页页数变化触发事件]
			 * @param  {[type]} p [需要查询数据的那一页]
			 * @return {[type]}   [无]
			 */
			pageChange(p){
				// 在这里用 p 向后台ajax获取分页数据
				// this.getData()
				// console.log(`新的页码：${p}`)
				this.queryCondition.page=p;
				this.doQuery();
			},

			/**
			 * [doQuery 查询触发事件]
			 * @return {[type]} [description]
			 */
			doQuery(){
				// 在这里将查询条件传后台获取查询结果
				param = {
					"keyword":this.queryCondition.keyword,
					"status":this.queryCondition.status,
					"position":this.queryCondition.position,
					"parent_id":this.queryCondition.manager,
					"page":this.queryCondition.page,
				}
				DMS.ajaxPost('__CONTROLLER__/getMachineList',
						param, res => {
							this.tableData=res.machineList;
							this.totalNumber=res.totalNumber * 1;
						})
			},
			changePosition(e){
				this.doQuery()
			},
			changeStatus(e){
				this.doQuery()
			},
			changeManager(e){
				this.doQuery()
			}


		},
		computed: {
			hasSelection(){
				return this.batchSelections.length > 0
			}
		}

	})
</script>
